@model IEnumerable<HostelManagementSystem.Models.StudentModel>

@{
    ViewBag.Title = "GetAllRecords";
}

<h2 class="text-muted" >AllRecords</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")

</p>*@

<p>
    <button type="button" class="btn btn-primary" onclick="CreateData()">Create</button>
</p>


<table id="students" class="table text-center">
    <tr>
        <th>



            @Html.DisplayNameFor(model => model.FirstName)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
         <th>  Status </th>
        <th> Delete </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a onclick="GetData(@item.Id)" class="anchorDetail">  @Html.DisplayFor(modelItem => item.FirstName)  </a>

                @*@Html.DisplayFor(modelItem => item.FirstName, new { onclick=GetData(item.Id) })*@


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender.Name)
            </td>
            <td>
                @if (item.isActive)
                {
                    <h5 style="color:limegreen;" > Active </h5>
                }
                else
                {
                    <h5 style="color:red;" > InActive </h5>
                }
            </td>
            <td >
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |*@
                @* @Html.ActionLink("Details", "Details", new { id=item.Id }) | *@
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }




</table>



<div id='CreateModal' class='modal'>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h3 class="modal-title" id="myModalLabel">Create Student</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div id='CreateModalContent'></div>
        </div>
    </div>

</div>








<div id='myModal' class='modal'>
    <div class="modal-dialog ">
        <div class="modal-content  ">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Student Information</h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">×</button>

                @* ERROR**  data-bs-dismiss instead of data-dismi *@

            </div>

            <div id='myModalContent'></div>
        </div>
    </div>

</div>









<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>



    function CreateData() {
        $.ajax({
            type: "GET",
            url: "/Home/Create",
            success: function (data) {
                debugger;
                $('#CreateModalContent').html(data);
                //$('#myModal').modal(options);
                $('#CreateModal').fadeIn(800);
                $('#CreateModal').modal('show');
            },
            error: function () {
                alert("Dynamic content load failed.");
            },
        });
    }






    function GetData(id) {
        $.ajax({
            type: "GET",
            url: "/Home/Details",
            data: { "Id": id },
            success: function (data) {
                debugger;
                $('#myModalContent').html(data);
                //$('#myModal').modal(options);
                $('#myModal' ).fadeIn(800);
                $('#myModal').modal('show');

            },
            error: function () {
                alert("Dynamic content load failed.");
            },


        });
    }







    $('.close').click(function () {
        console.log('hello');
        $("#myModal").modal('hide');

    });











</script>
